/* Text */
.title {
    -fx-alignment: center;
    -fx-font-family: "Apple SD Gothic Neo";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #97c093;
}

.subtitle {
    -fx-alignment: center;
    -fx-font-family: "Apple SD Gothic Neo";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #97c093;
}

.body {
    -fx-alignment: center;
    -fx-font-family: "Apple SD Gothic Neo";
    -fx-font-size: 14px;
    -fx-font-weight: Normal;
    -fx-text-fill: #97c093;
}

.thin {
    -fx-alignment: center;
    -fx-font-family: "Apple SD Gothic Neo";
    -fx-font-size: 12px;
    -fx-font-weight: Normal;
    -fx-text-fill: #97c093;
}

/* HBox */
.hbox {
    -fx-alignment: bottom;
}

/* Tab */
.tab-pane .tab-header-area{
    -fx-background-color: #97c093;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.tab-pane .tab-header-area .tab {
    -fx-background-color: #314c1c;
}
.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #97c093;
}
.tab-pane .tab-header-area .tab .tab-label {
    -fx-text-fill: #97c093;
}
.tab-pane .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: #314c1c;
}

/* TextField */
.text-field {
    -fx-text-fill: #ffffff;
    -fx-background-color:  #314c1c;
    -fx-border-color: #97c093;
    -fx-border-width: 1px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}

/* Button */
.itinerary-button {
    -fx-background-color:  transparent;
}

/* Progress Bar */
.progress-bar .bar{
    -fx-background-color: #314c1c;
    -fx-background-radius: 40px;
}
.progress-bar .track{
    -fx-background-color: #97c093;
    -fx-background-radius: 40px;
}